/* .empty-card {
    width: 100%;
    height: 100%;
} */


/* header */
#header-general {
    background-color: #fc8410;
    background-image: url("../public/leaf-header-1.png");
    background-position: top right;
    background-repeat: no-repeat;
    color: #fff;
}

/* header top */
.header-social {
    display: flex;

    justify-content: flex-end;
    align-items: center;
}

.header-social .right {
    display: flex;
}


.button-group .btn-signin:hover {
    background-color: #106853;
}

.button-group .btn-signup:hover {
    background-color: #106853;
}

.header-social .button-group {
    display: flex;
}

.header-social .btn {
    background: #fc8410;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: none !important;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;

}

/* header top */

/* header middle */
.header-md-search {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#header-search-form {
    width: 100%;
    margin: 0;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input {
    background: transparent !important;
    color: #fff !important;
    width: 100%;
    height: 52px;
    /* border-radius: 5px; */
    /* border: none; */
    padding: 0 25px;
    border: 2px solid #fff !important;

}

.search-icon {
    position: absolute;
    top: 50%;
    left: calc(100% - 20px);
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: var(--primary-text-color);
}

.header-md-social {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-info .shopping-cart,
.header-info .whish-list {
    position: relative;
    margin-left: 30px;
}

.shopping-cart span,
.whish-list span {
    position: absolute;
    top: -15%;
    left: 70%;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background: red;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 20px;

}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

/* mobile */
/* .header-mobile {
    width: 100%;
    display: flex;
    height: 100%;
    background-color: blue;
    visibility: hidden;
    opacity: 0;
} */



/* mobile */

/* header middle */

/* header bottom */
.category {
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #106853;
    position: relative;
}

.category-list {
    display: flex;
    flex-direction: column;
}

.category-head img {
    margin: 0 20px;
}

.category-head,
.category-body {
    width: 100%;
}

.category-body {
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #f8f8f8;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    display: none;
    z-index: 999;
}

.category-body.active {
    top: 100%;
    /*visibility: visible;*/
    /*opacity: 1;*/
    display: block;
}

.category-body-list,
.category-list-dropdown {
    flex-direction: column;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.category-list-dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 213%;
    min-height: 100%;
    background: #fff;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    display: none;
}

.category-list-dropdown.active {
    left: 100%;
    /*visibility: visible;*/
    /*opacity: 1;*/
    display: block;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.dropdown-container .category-dropdown-item {
    display: flex;
    width: 24%;
    margin: 0 1% 0 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*margin-bottom: 20px;*/
}

.category-dropdown-item .category-dropdown-heading {
    color: #303030;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    justify-content: flex-start;
    padding: 5px;
}

.sub-dropdown-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.sub-dropdown-list .sub-dropdown-link {
    color: #fff;
    padding: 0 !important;
    font-size: 18px;
}

.sub-dropdown-list .sub-dropdown-link:hover {
    color: black;
}

.category-list-item {
    position: relative;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid#f8f8f8;
    padding: 4px 0;
    z-index: 2;
}

.category-body-list li:last-of-type {
    border-bottom: none;
}

.category-item-container {
    width: 100%;
    position: relative;
}

.category-list-item a {
    color: #303030;
}

.category-list-item img {
    margin-left: 10px;
    margin-right: 20px;
    z-index: 1;
}

.category-list-item a img {
    margin: 0 20px;
    max-width: 20px;
    max-height: 20px;
}



.header-bottom {
    margin-top: 15px;
}

.header-bottom-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-item {
    position: relative;
}

.nav-item-drp {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 100%;
    left: calc(0% - 15px);
    background: #fff;
    width: 170px;
    border: 1px solid #f8f8f8;
    visibility: hidden;
    opacity: 0;
    z-index: 3;

}

.nav-item-drp li a {
    padding: 10px 0px;
}

.nav-item:hover .fa-solid {
    display: none;
}

.nav-item:hover .fa-angle-down {
    display: block;
}

.fa-angle-down {
    display: none;
}

.nav-item:hover .nav-item-drp {
    visibility: visible;
    opacity: 1;
}

.nav-item-drp a {

    color: #303030;
    font-size: 18px;
    padding-left: 15px;

}

.header-bottom-nav li {
    padding: 0px 15px;
}

.header-bottom-nav li a {
    color: #fff;
}

.nav-item-drp li a {
    color: #303030;
}

/* header bottom */

/* header */

/* swiper */
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

/* swiper */

/* section office tool */
#office-tool {
    margin-top: 50px;
    width: 100%;
    display: flex;
    background-color: #f8f8f8;
    background-image: url(../public/leaf-office-left-1.png), url(../public/leaf-category-right-1.png);
    background-repeat: no-repeat;
    background-position: left 90%, right 90%;

}

.section-heading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.office-tool-item {

    width: 100%;
    border: 1px solid transparent;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 30px;
}

.office-tool-heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.office-tool-body {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 35px;

}

.office-tool-body img {
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    object-fit: cover;
    background-size: cover;
    transform: scale(1.1);
}

.office-tool-footer {
    width: 100%;
    text-align: center;
}

.office-tool-btn {
    color: #303030;
    cursor: pointer;
}

.office-tool-btn:hover {
    background: #106853;
    color: #fff;
    transition: all 0.4s ease;
}

.office-tool-footer a {
    padding: 10px 40px;
    border: 1px solid gray;
    border-radius: 5px;
}

.cat-label {
    padding: 6px 12px;
    color: #fff;
    font-size: 12px;
}

.cat-label-offer {
    background: #106853;
    border-radius: 5px;
}

.wish-label-deactive {
    display: none;
}

/* section office tool */

/* section category */
#category {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    padding: 50px 0 90px 0;
    background-color: #fc8410;
    background-image: url(../public/leaf-header-1.png);
    background-repeat: no-repeat;
    background-position: left bottom;

}

#category h1 {
    color: #fff;
}

.category-item {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    overflow: hidden;

}


.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-item:hover img,
h3 {
    transform: scale(1.1);
    transition: all 0.4s ease;
    z-index: 1;
}

/* .category-item:hover  h3 {
    animation-name: moveCenter;
    animation-duration: 2s;
    color:white;
    opacity: 1;
    font-weight: 500;
} */





.category-item h3 {
    position: absolute;
    left: 30px;
    top: 10px;
    color: #303030;

}

/* 
@keyframes moveCenter {
from {top: 0px;}
to {top: 50%;}
from {left: 0%;}
to {left: 30%;}
} */

.banner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.category-item:hover h3 {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 999;
}

.category-item:hover .banner {
    background-color: #000;
    opacity: 0.5;
    z-index: 2;




}

.category-item:hover h3 {
    font-weight: bold;
    color: #fff;

}



/* section category */
#category-general-2 {
    background-color: #106853;
    background-image: url(../public/leaf-header-1.png);
    background-position: top right;
    background-repeat: no-repeat;
    color: #fff;
}


#category-2 {
    margin-top: 100px;
    width: 100%;
    display: flex;
    overflow: hidden;
}


/* section category 2 */



/* section category 2 */

/* section brands */
#brands {
    margin-top: 50px;
    width: 100%;
}

.owl-nav {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.item {
    width: 100%;
    height: 100px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section brands */

/* section footer */
#footer-general {
    width: 100%;
    height: auto;
}

.footer-main-title {
    color: #fc8410;
    text-decoration: underline;
    margin-bottom: .1em;
    width: 100%;
    font-size: 18px;
    font-weight: bold !important;
}

.footer-main-cats,
.footer-main-menues {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.footer-main-cats li,
.footer-main-menues li {
    margin-top: 3px;
    display: flex;
    justify-content: flex-start;
}

.footer-main-cats a,
.footer-main-menues a,
.footer-info {
    color: #000;
    position: relative;
    font-weight: 500;
    font-size: 15px;
}

.footer-main-cats a::before,
.footer-main-menues a::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 1px;
    background-color: #fc8410;
    bottom: 0;
}

.footer-main-cats a::before,
.footer-main-menues a::before {
    left: 0;
}

.footer-main-cats a:hover::before,
.footer-main-menues a:hover::before {
    width: 100%;
    transition: all .5s;

}

.footer-info p {
    margin: 5px 0;
    font-weight: 500;
}

.footer-info p span {
    margin-right: 10px;
}

.footer-copyright {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}

.footer-copyright a {
    color: #fc8410;
}

.social-item {
    background-color: #106853;
    border-radius: 50%;
    padding: 5px;
    margin-left: 15px;

}

.social-item a {
    font-size: 15px;
    color: #fff;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.social-item {
    margin: 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.page-heading a {
    color: black;
}

/* section footer */