/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.search-box input,.search-box span {
  display: none;
}

.header-info {
  position: relative;
  bottom: 40px;
}

.header-logo a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-bottom-nav ul {
  display: none;
}

/* .header-md-logo,.header-md-search,.header-md-social a, span {
  display: none;
} */

.header-md-logo a {
  display: block;
  position: relative;
  left: 100px;
}
.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.navbar {
  display: block;
  position: relative;
  bottom: 80px;
}

.header-middle {
  overflow-x: hidden;
}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
.navbar {
  display: block;
}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
 .navbar {
  display: none;
 }
  } 

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 .navbar {
  display: none;
 }
} 
  

  
